.extended-performance-line {
  border-top: 1px solid #e14eca;
  width: 60px;
  margin: 0;
  padding: 0;
}
.performance > * {
  margin-bottom: 10px;
}
.performance-text {
  font-weight: 300;
  font-size: 26px;
}
